.grid_div {
	background: #ffffff;
	position:relative;
	overflow:hidden;
	min-height:100px;
}

/********************定义JS所需静态常量   start *********************/
.grid_div_HEADERROW_HEIGHT
{
	height:29px;
}
.grid_div_ROW_HEIGHT
{
	height:29px;
}
.grid_div_SELECTCOLUM_WIDTH
{
	height:30px;
}
.grid_div_CELL_BOTTOM_BORDER_WIDTH
{
	height:1px;
	line-height:1px;
}
/********************定义JS所需静态常量  end *********************/

.grid_paginationbar {
	/*position:absolute;*/
	position:relative;
	clear:both;
	top: 0px;
	left: 0px;
	z-Index:100;
	background: #ffffff;
	height:32px;
	width:100%;
	/*border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#B7B8B9;*/
}	

.grid_div .headerbar_div {
	left: 0px;
	/*position: absolute;*/
	overflow:hidden;
	z-Index:1000;
}

.grid_div .dynamic_headertable_div {
	left: 0px;
	position: absolute;
}


.grid_div .fixed_header_div {
	top: 0px;
	position: absolute;
	z-Index:100;
}

.grid_div .row_num_header_div {
	position: absolute;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#999999;
	
	background:#D1DFE4 url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/title_bar.png') repeat-x;
	
	top: 0px;
	left: 0px;
	z-Index:100;
	width: 25px;
}

.grid_div .row_state_header_div{
	position: absolute;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#B7B8B9;
	background:#F1F2F4 url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/setting.gif') no-repeat center center;

	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#B7B8B9;
	top: -1px;
	z-Index:100;
	width: 12px;
}

.grid_div .row_num_div {
	/*position: absolute;*/
	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/title_bar.png') repeat-x;
	width: 100%;
	left: 0px;
	line-height:28px;
	
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#D1DFE4;
}

.grid_div .row_state_div {
	/*position: absolute;*/
	background:#fff;
	width: 100%;
	left: 0;
	
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#EDEDED;
	
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#EDEDED;
}

.grid_div .row_normal_state {
	background:#fff url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/normal.gif') no-repeat center center;
}

.grid_div .row_update_state {
	background:#fff url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/update.gif') no-repeat center center;
}

.grid_div .row_add_state {
	background:#fff url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/newadd.gif') no-repeat center center;
}	

.sum_div {
	position: absolute;
	background:#DFE4C1 url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/gridheader.gif') repeat-x;
	z-index:1000;
	font:bold;
	
	padding-bottom: 1px;
	
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#B7B8B9;
	
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#B7B8B9;
	background-color: #E2E2E2;
}

.dynsumrow_div {
	position: absolute;
	z-index:1000;
	
}

.dynsumcontainer_div {
	position: absolute;
	overflow: hidden;
	border: solid #E2E2E2 1px;
}

.dynsumcell_div {
	float: left;
	background-color: #E2EFFE;
	
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#B7B8B9;
}

.grid_div .headerdiv {
	float: left;
	background:#D1DFE4 url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/title_bar.png') repeat-x;
	font-family:simsun;
	font-size:12px;
	height: 100%;
	width: 100%;
	color: #000000;
	text-align: left;
	/*overflow: hidden;*/
	cursor:default;
}

.grid_div .headerdiv_mouseover {
	background:#FFEFAF url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/gridheader_over.gif') repeat-x;
}

.grid_div .fixedheaderdiv {
	background:yellow;
}

.grid_div .header_required {
	color: #666666;
}

.grid_div .select_headerdiv {
	position:absolute;
	overflow:hidden;
	top:0px;
	width:30px;
	text-align: center;
	background:#D1DFE4 url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/title_bar.png') repeat-x;
	line-height:35px;
}


.grid_div .multiheaderdiv {
	float:left;
	text-align: center;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor:default;
	font-size: 9pt;
	background:#F8F8F8 url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/title_bar.png') repeat-x;

	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#D1DFE4;
	
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#D1DFE4;
}


.fixedcolum_div {
	position:absolute;
	z-Index:100;
	left: 0px;
	float:left;
}

.grid_div .num_div {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #F1F2F4;
	height: 100%;

	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#D0D0D0;
}

.grid_div .state_div {
	position: absolute;
	height: 100%;
}

.grid_div .data_outer_div {
	/*position: absolute;*/
	position:relative;
	overflow: auto;
	left: 0px;
	SCROLLBAR-FACE-COLOR: #EAE9F3;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
  	SCROLLBAR-SHADOW-COLOR: #c9d095;
  	SCROLLBAR-3DLIGHT-COLOR: #dbe1b3;
  	SCROLLBAR-ARROW-COLOR: #424854;
  	SCROLLBAR-TRACK-COLOR: #F1F2F4;
  	SCROLLBAR-DARKSHADOW-COLOR: #b5b2b5;
}

.grid_div .dynamic_data_div {
	position:relative;
}

.fixed_selectcolum_checkbox_div_odd {
	position: relative;
	text-align: center;
	cursor:default;
	background-color: #F7FCFF;

	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#D1DFE4;
}

.fixed_selectcolum_checkbox_div_even {
	position: relative;
	text-align: center;
	cursor:default;
	background-color: white;

	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#D1DFE4;
}

.grid_div .gridcell_odd {
	white-space: nowrap;
	left: 0px; 
	/*border-left-style:solid;
	border-left-width:1px;
	border-left-color:#EDEDED;*/
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#D1DFE4;
	background-color: #F7FCFF;
}

.grid_div .gridcell_even {
	white-space: nowrap;
	left: 0px; 
	/*border-left-style:solid;
	border-left-width:1px;
	border-left-color:#EDEDED;*/
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#D1DFE4;
	background-color: #FFFFFF;
}

.grid_div .fixed_gridcell_odd{
	position: absolute;
	white-space: nowrap;
	left: 0px;
	background-color: #FAFAFA;

	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#EDEDED;

	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#EDEDED;
}

.grid_div .fixed_gridcell_even{
	white-space: nowrap;
	left: 0px;
	background-color: #FFFFFF;

	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#EDEDED;

	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#EDEDED;
}

.grid_div .gridcell_mouseover {
	background:#FFFFFF url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/highlight_center.png') repeat-x;
}

.grid_div .cell_select {
	/*border-top: 1px solid #FFFFB0;*/
	/*background-color: #FFFFB0;*/
	background:#FFFFFF url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/highlight_center.png') repeat-x;
}

.grid_div .fixedcell_select {
}

.grid_div .fixed_select_colum {
	/*position: absolute;*/
	position: relative;	
	overflow: hidden;
	
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#EDEDED;
}

.grid_div .cell_focus {
	/*border-top: 1px solid #F8B86B;*/
	background-color: #F8B86B;
}

.grid_div .cell_error {
	background-color:red;
}

.grid_div .sort_img {
	position: relative;
	left: 10px;
}

.grid_div .tempDiv{
	border-right: 1px solid #999999;
	color: #666666;
}

.grid_div .tempDiv div{
	padding-left:10px;
	padding-right:10px;
}

.grid_paginationbar .pageinationbgleft{
	position:relative;
	float:right;
	width:10px;
	height:22px;
	background:url("/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/bg_left.png") no-repeat;
}

.grid_paginationbar .pageinationbgright{
	position:relative;
	float:right;
	width:10px;
	height:22px;
	background:url("/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/right.png") no-repeat;
}

.grid_paginationbar .pageinationbgcenter{
	position:relative;
	float:left;
	height:22px;
	background:url("/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/center.png") repeat-x;
	margin-top:5px;
	margin-left:13px;
}

.grid_paginationbar .selectedleft{
	position:relative;
	float:left;
	width:16px;
	height:31px;
	background:url("/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/selected_left.png") no-repeat;
	top:-3px;
}

.grid_paginationbar .unselectedleft{
	position:relative;
	float:left;
	width:0px;
	height:22px;
}

.grid_paginationbar .selectedright{
	position:relative;
	float:left;
	width:16px;
	height:31px;
	background:url("/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/selected_right.png") no-repeat;
	top:-3px;
}

.grid_paginationbar .unselectedright{
	position:relative;
	float:left;
	width:0px;
	height:22px;
}

.grid_paginationbar .selectedcenter{
	position:relative;
	float:left;
	height:31px;
	color:#ffffff;
	text-align:center;
	line-height:25px;
	background:url("/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/selected_center.png") repeat-x;
	top:-3px;
	font-weight:bold;
}

.grid_paginationbar .unselectedcenter{
	position:relative;
	float:left;
	height:22px;
	color:#999999;
	text-align:center;
	line-height:22px;
	margin-left:7px;
	margin-right:7px;
	font-weight:normal;
}

.grid_paginationbar .selected{
	position:relative;
	float:left;
	width:31px;
	height:31px;
	color:#ffffff;
	text-align:center;
	line-height:25px;
	background:url("/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/selected.png") no-repeat;
	top:-3px;
	font-weight:bold;
}

.grid_paginationbar .unselected{
	position:relative;
	float:left;
	height:22px;
	color:#999999;
	text-align:center;
	line-height:22px;
	margin-left:7px;
	margin-right:7px;
	font-weight:normal;
}

.grid_paginationbar .pagefirst{
	position:relative;
	float:left;
	height:22px;
	color:#999999;
	text-align:center;
	line-height:22px;
	margin-right:7px;
	font-weight:normal;
}

.grid_paginationbar .pagelast{
	position:relative;
	float:left;
	height:22px;
	color:#999999;
	text-align:center;
	line-height:22px;
	margin-left:7px;
	font-weight:normal;
}

.grid_paginationbar .smartcut{
	position:relative;
	float:left;
	width:1px;
	height:22px;
	background:url("/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/cut02.png") no-repeat;
	background-position:center center;
	margin-left:3px;
	margin-right:3px;
}

.grid_paginationbar .pre{
	position:relative;
	float:left;
	width:25px;
	height:22px;
	background:url("/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/pre.png") no-repeat;
	left:-10px;
}

.grid_paginationbar .next{
	position:relative;
	float:left;
	width:25px;
	height:22px;
	background:url("/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/next.png") no-repeat;
	left:10px;
}

.grid_paginationbar .preover{
	position:relative;
	float:left;
	width:25px;
	height:22px;
	background:url("/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/pre_over.png") no-repeat;
	left:-10px;
}

.grid_paginationbar .nextover{
	position:relative;
	float:left;
	width:25px;
	height:22px;
	background:url("/lfw/frame/device_pc/themes/webclassic/ui/ctrl/grid/images/next_over.png") no-repeat;
	left:10px;
}

.grid_paginationbar .paginationPanel{
	position:relative;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}

.grid_paginationbar .paginationMessage{
	position:relative;
	height:100%;
	width:300px;
	float:right;
	line-height:30px;
}

.grid_paginationbar .paginationText{
	position:relative;
	height:100%;
	float:left;
	color:#999999;
}

