.contextmenu_div
{
	overflow: hidden;
}

.menuitem_div
{
	border-width:0px;
}

.menuitem_div .right_div
{
	position:relative;
	float: right;
	height: 100%;
	width: 8px;
	display: inline;
	background-color:#FFF;
}

.menuitem_div .right_div_on
{
	position:relative;
	float: right;
	height: 100%;
	width: 8px;
	display: inline;
	background-color:#e5ebcc;
}

.menuitem_div .contextmenu_item_div
{
	border-width:0px;
	background:#ffffff;
}

.menuitem_div .contextmenu_item_div_off
{
	border-width:0px;
	background-color:#ffffff;
}

.menuitem_div .contextmenu_item_div_on
{
	border-style:solid;
    border-width:1px;
    border-color:#6E8098;
    background-color:#ffffff;
}

.menuitem_div .contextmenu_item_left_div_off
{
    width:16px;
    height:100%;
	position:relative;
	float:left;
}

.menuitem_div .contextmenu_item_left_div_on
{
    width:16px;
    height:100%;
	background-color:#e5ebcc;
	cursor: default;
	position:relative;
	float:left;
}

.menuitem_div .contextmenu_item_caption_off 
{
	color:#0086b2;
	font-family: arial;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
	position:relative;
	float:left;
	width: auto;
	height: 100%;
}

.menuitem_div .contextmenu_item_caption_on 
{
	color:#4d4d4d;
	background: #e5ebcc;
	font-family: arial;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
	
	position:relative;
	float:left;
	width: auto;
	height: 100%;
}

.menuitem_div .contextmenu_item_caption_banned
{
	color: gray;
	background-color:#FAFAFA;
	padding-top:4px;
	font-family: arial;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
	position: relative;
	float: left;
	width: auto;
	height: 100%;
}

/********************定义JS所需静态常量   start *********************/
.menuitem_div_SEP_HEIGHT
{
	height:10px;
}
/********************定义JS所需静态常量   end ***********************/

.menuitem_div .contextmenu_sep_caption
{
	color: #233C5D;
	background: #FAFAFA;
	overflow: hidden;
	background: url('../images/menuitem/sep.gif') repeat-x;
	position:relative;
	float:left;
	width: auto;
	height: 100%;
}
/*子菜单，右键菜单背景*/
.contextmenu_div .left_top_div{
	position:absolute;
	background: url('images/drop_left_top.png') no-repeat;
	width:11px;
	height:11px;
	left:0px;
	top:0px;
}

.contextmenu_div .center_top_div{
	position:absolute;
	background: url('images/drop_top_center.png') repeat-x;
	height:11px;
	left:11px;
	right:11px;
	top:0px;
}
.contextmenu_div .right_top_div{
	position:absolute;
	background: url('images/drop_right_top.png') no-repeat;
	width:11px;
	height:11px;
	right:0px;
	top:0px;
}
.contextmenu_div .left_center_div{
	position:absolute;
	background: url('images/drop_left_center.png') repeat-y;
	width:11px;
	left:0px;
	top:11px;
	bottom:11px;
}
.contextmenu_div .center_div{
	position:relative;
	background: url('images/drop_center.png') repeat;
	margin:11px;
}
.contextmenu_div .right_center_div{
	position:absolute;
	background: url('images/drop_right_center.png') repeat-y;
	width:11px;
	right:0px;
	top:11px;
	bottom:11px;
}
.contextmenu_div .left_bottom_div{
	position:absolute;
	background: url('images/drop_left_bottom.png') no-repeat;
	width:11px;
	height:11px;
	left:0px;
	bottom:0px;
}
.contextmenu_div .center_bottom_div{
	position:absolute;
	background: url('images/drop_bottom_center.png') repeat-x;
	height:11px;
	left:11px;
	right:11px;
	bottom:0px;
}
.contextmenu_div .right_bottom_div{
	position:absolute;
	background: url('images/drop_right_bottom.png') no-repeat;
	width:11px;
	height:11px;
	right:0px;
	bottom:0px;
}
