.button_div {
	background-color:white;
	margin:0 auto;
}

/********************定义JS所需静态常量   start *********************/
.button_div_BUTTON_HEIGHT
{
	height:23px;
}
.button_div_BUTTON_LEFT_WIDTH
{
	height:4px;
	line-height:2px;
}
.button_div_BUTTON_RIGHT_WIDTH
{
	height:4px;
	line-height:2px;
}
/********************定义JS所需静态常量   end ***********************/

.button_div .btn_center {
	position:relative;
	height:23px;
	margin-left:4px;
	margin-right:4px;
}

.button_div .btn_left_off {
	position:absolute;
	left:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_normal_left.png') no-repeat right center;
} 
.button_div .btn_left_on {
	position:absolute;
	left:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_normal_left.png') no-repeat right center;
}
.button_div .btn_left_down {
	position:absolute;
	left:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_press_left.png') no-repeat right center;
}
.button_div .btn_left_focus {
	position:absolute;
	left:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_left.png') no-repeat right center;
}
.button_div .btn_left_disabled {
	position:absolute;
	left:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_disable_left.png') no-repeat right center;
}

.button_div .btn_right_off {
	position:absolute;
	right:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_normal_right.png') no-repeat left center;
} 
.button_div .btn_right_on {
	position:absolute;
	right:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_normal_right.png') no-repeat left center;
}
.button_div .btn_right_down {
	position:absolute;
	right:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_press_right.png') no-repeat right center;
}
.button_div .btn_right_focus {
	position:absolute;
	right:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_right.png') no-repeat right center;
}
.button_div .btn_right_disabled {
	position:absolute;
	right:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_disable_right.png') no-repeat left center;
}

.button_div .btn_off {
	border-style:none;
	height:23px;
 	cursor: pointer;
 	padding-top: 0px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_normal_center.png') repeat-x;
 	color:#4d4d4d;
 	font-size:12px;
} 
.button_div .btn_on {
	border-style:none;
	height:23px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_normal_center.png') repeat-x;
 	color:#0086b2;
 	font-size:12px;
}
.button_div .btn_down {
	border-style:none;
	height:23px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_press_center.png') repeat-x;
 	color:#4d4d4d;
 	font-size:12px;
}
.button_div .btn_focus {
	border-style:none;
	height:23px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_center.png') repeat-x;
 	color:#0086b2;
 	font-size:12px;
}
.button_div .btn_disabled {
	border-style:none;
	height:23px;
 	cursor: pointer;
 	padding-top: 0px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_disable_center.png') repeat-x;
 	color:#666666;
 	font-size:12px;
}

/*blue样式*/

.blue_button_div{
	
}

.blue_button_div .btn_center {
	position:relative;
	height:23px;
	margin-left:4px;
	margin-right:4px;
}

.blue_button_div .btn_left_off {
	position:absolute;
	left:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_left.png') no-repeat right center;
} 
.blue_button_div .btn_left_on {
	position:absolute;
	left:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_left.png') no-repeat right center;
}
.blue_button_div .btn_left_down {
	position:absolute;
	left:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_left.png') no-repeat right center;
}
.blue_button_div .btn_left_focus {
	position:absolute;
	left:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_left.png') no-repeat right center;
}
.blue_button_div .btn_left_disabled {
	position:absolute;
	left:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_left.png') no-repeat right center;
}

.blue_button_div .btn_right_off {
	position:absolute;
	right:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_right.png') no-repeat left center;
} 
.blue_button_div .btn_right_on {
	position:absolute;
	right:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_right.png') no-repeat left center;
}
.blue_button_div .btn_right_down {
	position:absolute;
	right:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_right.png') no-repeat right center;
}
.blue_button_div .btn_right_focus {
	position:absolute;
	right:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_right.png') no-repeat right center;
}
.blue_button_div .btn_right_disabled {
	position:absolute;
	right:0px;
	top:0px;
	height:23px;
	width: 4px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_right.png') no-repeat left center;
}

.blue_button_div .btn_off {
	border-style:none;
	height:23px;
 	cursor: pointer;
 	padding-top: 0px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_center.png') repeat-x;
 	color:#4eb5e7;
 	font-size:12px;
 	/*font-weight:bold;*/
} 
.blue_button_div .btn_on {
	border-style:none;
	height:23px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_center.png') repeat-x;
 	color:#4eb5e7;
 	font-size:12px;
 	/*font-weight:bold;*/
}
.blue_button_div .btn_down {
	border-style:none;
	height:23px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_center.png') repeat-x;
 	color:#4eb5e7;
 	font-size:12px;
 	/*font-weight:bold;*/
}
.blue_button_div .btn_focus {
	border-style:none;
	height:23px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_center.png') repeat-x;
 	color:#4eb5e7;
 	font-size:12px;
 	/*font-weight:bold;*/
}
.blue_button_div .btn_disabled {
	border-style:none;
	height:23px;
 	cursor: pointer;
 	padding-top: 0px;
 	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/button/images/btn_highlight_center.png') repeat-x;
 	color:#4eb5e7;
 	font-size:12px;
 	/*font-weight:bold;*/
}