.dialog_div
{
	position:absolute;
}

.dialog_div .dialog_titlebar
{
	width:100%;
	height:48px;
	top:0px;
	left:0px;
	cursor:move;
}

.dialog_div .leftheadborderdiv{
	float:left;
	width:29px;
	height:100%;
	background-image:url('images/dw_left_top.png');
}

.dialog_div .rightheadborderdiv{
	float:right;
	width:29px;
	height:100%;
	background-image:url('images/dw_right_top.png');
}

.dialog_div .centerheaddiv{
	float:left;
	height:100%;
	background-image:url('images/dw_top_center.png');
	background-repeat:repeat-x;
}

.dialog_div .centerdiv{
	width:100%;
}

.dialog_div .centerdiv .leftbodyborderdiv{
	float:left;
	height:100%;
	width:29px;
	background-image:url('images/dw_left_center.png');
	background-repeat:repeat-y;
}

.dialog_div .centerdiv .rightbodyborderdiv{
	float:right;
	height:100%;
	width:29px;
	background-image:url('images/dw_right_center.png');
	background-repeat:repeat-y;
}

.dialog_div .centerdiv .centerbodydiv{
	float:left;
	height:100%;
	background-image:url('images/dw_center.png');
	background-position:left bottom;
	background-repeat:repeat;
}

.dialog_div .bottomdiv{
	height:22px;
	width:100%;
	overflow:hidden;
}

.dialog_div .bottomdiv .leftbottomborderdiv{
	float:left;
	width:29px;
	height:100%;
	background-image:url('images/dw_left_bottom.png');
}

.dialog_div .bottomdiv .rightbottomborderdiv{
	float:right;
	width:29px;
	height:100%;
	background-image:url('images/dw_right_bottom.png');
}

.dialog_div .bottomdiv .centerbottomdiv{
	float:left;
	height:100%;
	background-image:url('images/dw_bottom_center.png');
	background-position:left bottom;
	background-repeat:repeat-x;
}


.dialog_div .closebt_off{
	width:33px;
	float:right;
	height:25px;
	background-image:url('images/off.png');
	background-repeat:no-repeat;
	margin-top:13px;
	cursor:pointer;
}

.dialog_div .closebt_click{
	width:33px;
	float:right;
	height:25px;
	background-image:url('images/off_over.png');
	background-repeat:no-repeat;
	margin-top:13px;
	cursor:pointer;
}

.dialog_div .closebt_on{
	width:33px;
	float:right;
	height:25px;
	background-image:url('images/off_over.png');
	background-repeat:no-repeat;
	margin-top:13px;
	cursor:pointer;
}

.dialog_div .dialog_title
{
	color: #ffffff;
	font-weight: bold;
    font-family: Arial;
	font-size: 13px;
	padding-top: 22px;
	padding-left: 3px;
	height: 100%;
	float:left;
}

.dialog_div .dialog_content
{
	height:100%;
}

.dialog_div .progress_contentdiv{
	width:100%;
	height:100%;
	background:#FFFFFF;
}

.dialog_div .progress_leftdiv{
	float:left;
	width:80px;
	height:100px;
	padding-left:10px;
	padding-top:40px;
}

.dialog_div .progress_rightdiv{
	float:left;
	height:100px;
	line-height:100px;
	word-break:break-all;
	word-wrap:break-word;
}


.dialog_div .confirm_contentdiv{
	width:100%;
	height:100px;
}

.dialog_div .confirm_leftdiv{
	float:left;
	width:80px;
	padding-left:10px;
	padding-top:35px;
}

.dialog_div .confirm_rightdiv{
	float:left;
	height:100px;
	line-height:100%;
	word-break:break-all;
	word-wrap:break-word;
}

.dialog_div .confirm_bottomdiv{
	float:left;
	height:35px;
	width:100%;
}

.dialog_div .confirm_okbtdiv{
	float:right;
	width:46%;
	text-align:right;
	padding-right:10px;
	padding-top:10px;
}

.dialog_div .confirm_cancelbtdiv{
	float:right;
	width:46%;
	text-align:left;
	padding-left:10px;
	padding-top:10px;
}


.dialog_div .message_contentdiv{
	width:100%;
	height:100px;
}

.dialog_div .message_leftdiv{
	float:left;
	width:80px;
	padding-left:20px;
	padding-top:35px;
}

.dialog_div .message_rightdiv{
	float:left;
	height:100%;
	word-break:break-all;
	word-wrap:break-word;
	overflow-y:auto;
}

.dialog_div .message_bottomdiv{
	float:left;
	height:35px;
	width:100%;
}

.dialog_div .message_okbtdiv{
	float:left;
	width:100%;
	text-align:center;
	padding-top:10px;
}


.dialog_div .warning_contentdiv{
	width:100%;
	height:125px;
}

.dialog_div .warning_leftdiv{
	float:left;
	width:80px;
	height:100px;
	padding-left:20px;
	padding-top:45px;
}

.dialog_div .warning_rightdiv{
	float:left;
	height:100%;
	word-break:break-all;
	word-wrap:break-word;
}

.dialog_div .warning_bottomdiv{
	float:left;
	height:35px;
	width:100%;
}

.dialog_div .warning_okbtdiv{
	float:left;
	width:100%;
	text-align:center;
	padding-top:10px;
}


.dialog_div .error_contentdiv{
	width:100%;
	height:125px;
}

.dialog_div .error_leftdiv{
	float:left;
	width:80px;
	height:100px;
	padding-left:20px;
	padding-top:45px;
}

.dialog_div .error_rightdiv{
	float:left;
	height:100%;
	word-break:break-all;
	word-wrap:break-word;
}

.dialog_div .error_bottomdiv{
	float:left;
	height:35px;
	width:100%;
}

.dialog_div .error_okbtdiv{
	float:left;
	width:100%;
	text-align:center;
	padding-top:10px;
}



.warningdialog_text_node
{        
    font-size: 12px;
    font-family: Arial;
    color: black;
    overflow: hidden;
    word-break:break-all;
}




.dialog_div .input_contentdiv{
	width:100%;
	height:10px;
}

.dialog_div .input_itemdiv{
	width:100%;
	min-height:30px;
}

.dialog_div .input_leftdiv{
	float:left;
	height:100%;
	width:80px;
}

.dialog_div .input_rightdiv{
	float:left;
	height:100%;
}
.dialog_div .input_mustdiv{
	float:left;
	height:20px;
	width:10px;
	padding-top:8px;
}

.dialog_div .input_bottomdiv{
	float:left;
	height:35px;
	width:100%;
}

.dialog_div .input_okbtdiv{
	float:left;
	width:46%;
	text-align:right;
	padding-right:10px;
	padding-top:10px;
}

.dialog_div .input_cancelbtdiv{
	float:right;
	width:46%;
	text-align:left;
	padding-left:10px;
	padding-top:10px;
}

.dialog_div .input_1btdiv{
	float:left;
	padding-left:40px;
	padding-top:10px;
}

.dialog_div .input_2btdiv{
	float:left;
	padding-left:10px;
	padding-top:10px;
}

.dialog_div .input_3btdiv{
	float:left;
	padding-left:10px;
	padding-top:10px;
}